<ion-header class="tracking-header" translucent="true">
  <ion-toolbar>

    <!-- 🔙 Back Button -->
    <!-- 🔙 Custom Back Button -->
<ion-buttons slot="start">
  <ion-button (click)="goBack()">
    <ion-icon name="chevron-back-outline"></ion-icon>
  </ion-button>
</ion-buttons>

    <ion-title>My Vehicle Tracking</ion-title>

  </ion-toolbar>
</ion-header>
<ion-content fullscreen="true" class="tracking-content">

  <!-- MAP -->
  <div #mapContainer class="map-container"></div>

   <!-- FLOATING BUTTONS -->
  <div class="map-actions">

    <button class="action-btn start-btn" (click)="startTracking()">
      Start Tracking
    </button>

    <button class="action-btn stop-btn" (click)="stopTracking()">
      Stop Tracking
    </button>

  </div>

  <!-- TOP GLASS HEADER -->
  <!-- <div class="top-bar">

    <div class="title-box">
      <h2>Live Vehicle Tracking</h2>
      <p>Realtime GPS Navigation</p>
    </div>

    <div class="status-pill" [class.active]="isTracking">
      {{ isTracking ? 'LIVE' : 'OFFLINE' }}
    </div>

  </div> -->

  <!-- BOTTOM CONTROL CARD -->
  <!-- <div class="bottom-card">

    <div class="route-info">

      <div class="info-box">
        <span class="label">STATUS</span>
        <span class="value">
          {{ isTracking ? 'Moving' : 'Stopped' }}
        </span>
      </div>

      <div class="info-box">
        <span class="label">ROUTE</span>
        <span class="value">
          Rahim Yar Khan
        </span>
      </div>

    </div>

    <div class="btn-group">

      <button class="start-btn" (click)="startTracking()">
        Start Tracking
      </button>

      <button class="stop-btn" (click)="stopTracking()">
        Stop
      </button>

    </div>

  </div> -->

</ion-content>