<ion-content [fullscreen]="true" class="login-bg">

  <div class="top-design"></div>

  <div class="login-wrapper">

    <!-- Title -->
    <div class="title-box">
      <h2>Welcome Back,</h2>
      <h1>Log In!</h1>
    </div>

    <!-- Form -->
    <form [formGroup]="loginForm" class="form-box">

      <!-- Email -->
      <div class="input-box">
        <ion-icon name="mail-outline"></ion-icon>
        <ion-input
          type="email"
          placeholder="Enter Email Address"
          formControlName="email">
        </ion-input>
      </div>
      <small class="error"
        *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.invalid">
        Please enter proper Email Address
      </small>

      <!-- Password -->
      <div class="input-box">
        <ion-icon name="lock-closed-outline"></ion-icon>
        <ion-input
          type="password"
          placeholder="Enter Password"
          formControlName="password">
        </ion-input>
      </div>
      <small class="error"
        *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid">
        Please enter your Password
      </small>

      <!-- Options -->
      <div class="options">
        <label>
          <input type="checkbox"> Remember me
        </label>
        <span>Forgot password?</span>
      </div>

      <!-- Button -->
      <ion-button expand="block" class="login-btn" (click)="login()">
        Log In
      </ion-button>

    </form>

  </div>

</ion-content>