<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="dashboard" href="/tabs/dashboard">
      <ion-icon aria-hidden="true" name="home"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="my-vehicle" href="/tabs/my-vehicle">
      <ion-icon aria-hidden="true" name="car"></ion-icon>
      <ion-label>My Vehicle</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tracking" href="/tabs/tracking">
      <ion-icon aria-hidden="true" name="navigate"></ion-icon>
      <ion-label>Tracking</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="history" href="/tabs/history">
      <ion-icon aria-hidden="true" name="time"></ion-icon>
      <ion-label>History</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
