<ion-app>

<ion-menu contentId="main-content" #mainMenu>

    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
        <!-- CLOSE BUTTON -->
      <ion-buttons slot="end">
  <ion-button (click)="closeMenu()">
  <ion-icon name="close-outline"></ion-icon>
</ion-button>

</ion-buttons>
      </ion-toolbar>
    </ion-header>

   <ion-content>
  <ion-list>

    <!-- Dashboard -->
  <ion-item button (click)="goToDashboard()">
    <ion-icon slot="start" name="grid-outline"></ion-icon>
    <ion-label>Dashboard</ion-label>
  </ion-item>

  <!-- My Vehicle -->
  <ion-item button (click)="goToVehicle()">
    <ion-icon slot="start" name="car-outline"></ion-icon>
    <ion-label>My Vehicle</ion-label>
  </ion-item>

<ion-item button (click)="goToHistory()">
  <ion-icon slot="start" name="time-outline"></ion-icon>
  <ion-label>History</ion-label>
</ion-item>

    <ion-item button (click)="goToAlerts()">
  <ion-icon slot="start" name="notifications-outline"></ion-icon>
  <ion-label>Alerts</ion-label>
</ion-item>

    <ion-item button (click)="goToReport()">
  <ion-icon slot="start" name="document-text-outline"></ion-icon>
  <ion-label>Report</ion-label>
</ion-item>

<ion-item button (click)="goToSettings()">
  <ion-icon name="settings-outline" slot="start"></ion-icon>
  <ion-label>Settings</ion-label>
</ion-item>
 
<ion-item button (click)="goToProfile()">
    <ion-icon slot="start" name="person-outline"></ion-icon>
  <ion-label>My Profile</ion-label>
</ion-item>

  </ion-list>
</ion-content>
  </ion-menu>

  <ion-router-outlet id="main-content"></ion-router-outlet>

</ion-app>