<ion-header>
  <ion-toolbar class="header">
    <ion-buttons slot="start">
      <ion-icon name="menu-outline"></ion-icon>
    </ion-buttons>

    <ion-title class="title">Dashboard</ion-title>

    <ion-buttons slot="end">
      <ion-icon name="person-circle-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- MAP CARD -->
  <div class="map-card">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRA-1vtmly9MrQc_v-heq0phmFq3ppKvARvQw&s" />
  </div>

  <!-- STATUS CARD -->
  <div class="status-card">
    <div class="top-row">
      <span>Vehicle Status</span>
      <span class="active">Active</span>
    </div>
    <h2>ABC-1234</h2>
  </div>

  <!-- VEHICLE INFO -->
  <div class="vehicle-card">
    <div class="icon">
      🚗
    </div>
    <div>
      <h3>Toyota Corolla</h3>
      <p>123 Main Street, City</p>
    </div>
  </div>

</ion-content>